* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

header {
    background-color: rgb(236, 232, 232);
    height: 2.5em;
    color: rgb(8, 8, 8);
    margin-bottom: 2em;
    width: 15%;
    text-align: center;
    font-size: 0.9em;
}

header h2 {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;

}

td, th {
    padding: .5em;
    margin: 0;
    border: 0px solid #ccc;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #EEE;
}

button {
    padding: .5em 4em;
    border: 0;
    border-bottom: 3px solid;
    color: #fff;
    background-color: #0c8cd3;
    border-color: #044c2e;
    display: block;
}

#labelProduto {
    display: block;
    margin-bottom: .2em;
    height: 35px;
    top: 30%;

}

#labelValor {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: fixed;
    top: 10%;
    right: 65%;
}

#valor {
    position: absolute;
    top: 15%;
    right: 65%;
}

#labelQuantidade {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: fixed;
    top: 10%;
    right: 45%;
}

#nome {
    top: 50%;
}

input {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;

}

#quantidade {
    position: absolute;
    top: 15%;
    right: 45%;
}

#adicionarVenda {
    font-size: 1.0em;
    background-color: #078b4e;
    width: 15%;
    position: absolute;
    right: 5%;
    text-align: center;
}

#voltar {
    width: 10%;
    margin: 10px 0px;
    text-align: center;
    font-size: 0.8em;
}

#lancarVenda {
    width: 12%;
    font-size: 1.0em;
    margin: 10px 0px;
    position: absolute;
    right: 5%;
    top: 13%;
    background-color: #078b4e;
}

#mensagem-erro {
    color: red;
    float: right;
    position: relative;
    right: 20%;
}

#info-total-venda {
    position: absolute;
    right: 1%;
    width: 24%;
    color: green;
}

#limpar-venda {
    width: 10%;
    text-align: center;
    font-size: 0.8em;
}