* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

header {
    background-color: rgb(236, 232, 232);
    height: 3em;
    color: rgb(8, 8, 8);
    margin-bottom: 2em;
    width: 25%;
    text-align: center;
    font-size: 1.0em;
}

header h2 {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}

table {
    width: 100%;
    margin-bottom: .20em;
    table-layout: fixed;

}

td, th {
    padding: .5em;
    margin: 0;
    border: 0px solid #ccc;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #EEE;
}

label {
    color: #555;
    display: block;
    margin-bottom: .2em;
}

button {
    padding: .5em 4em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color: #0c8cd3;
    border-color: #044c2e;
    width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;
    text-align: center;


}

.adicionarVenda {
    margin-top: 30px;
}

.campo-invalido {
    border: 1px solid red;
}

.venda-invalido {
    background-color: lightcoral;
}

#buscar-data {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;

}

#buscar-vendedor {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: absolute;
    top: 15%;
    right: 57%;

}

#label-buscar-vendedor {
    color: #555;
    display: block;
    margin-bottom: .2em;
    position: absolute;
    right: 68%;
    top: 12%;


}

.invisivel {
    display: none;
}

#buscar-venda {
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.0em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color: #078b4e;
    border-color: #044c2e;
    width: 10%;
    display: block;
    clear: both;
    margin: 10px 0px;
    position: absolute;
    right: 5%;
    top: 12%;
    text-align: center;

}

#nova-venda {
    padding: .5em 1em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.0em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color: #042274;
    border-color: #02053a;
    width: 15%;
    display: block;
    clear: both;
    margin: 10px 0px;
    position: absolute;
    right: 5%;

    text-align: center;

}
